.booking-form {
  display: grid;

padding: 4em 0;

padding-right: 20em;


  gap: 0.5em;
  margin-bottom: 5em;



}


.Field {
    display: grid;
    grid-template-columns: 28vw 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "labelField inputField" "error error";
    gap: 2em;
}
.inputField {
    grid-area: inputField ;
 
    padding: 1.2em;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #333333
  

}
.labelField {
    grid-area: labelField ;
    justify-self: right;
    font-size: 18px;
    align-self: center;
    font-weight: 400;
}
.inputSubmit {
    width: 15em;
    padding: 1em;
    justify-self: center;
    margin-top: 2em;
    margin-left: 20em;
    font-size: 18px;
    border-radius: 8px;

}

.main h2 {
    text-align: center;
    color: #f4ce14;
    font-size: 2.5em;
    align-self: center;
    justify-self: end;


    
}
.tableImg {
    width: 30em;
    border-radius: 12px;
    align-self: center;
    justify-self: center;
}
.bookingImg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding: 0 5em;
    margin-bottom: 10em;
}
.headForm {

    display: grid;
    height: 10em;
    opacity: 0.9;
    grid-template-columns: 1fr 36vw;
    gap: 2em;
    border-bottom: 2px solid #495e57;
    
    border-top: 2px solid #73817c;
    
}
.lemonImg{
    align-self: center;
    justify-self: start;
    height: 5em;
}
sup {
    color: red;
}
.field-error {
    grid-area: error;
    justify-self: center;
    color: red;
    padding-left: 13em;
   margin-top: -1.4em;
}
.confirmed-booking{
    display: grid;
    gap: 3em;
    margin: 10em 0;
    padding-bottom: 5em;

  

}
.confirmed-booking img{
    justify-self: center;
  

}
.confirmed-booking p{
    justify-self: center;
    font-size: 18px;
  

}
.confirmed-booking h2{
    justify-self: center;
    font-size: 35px;
  

}