
  .nav ul {
    display: grid;
    grid-template-columns: repeat(6, 10vw);
    font-weight: 900;
    color: #333333;
align-items: center;
  }
  .humburger {
    z-index: 30;
    background-color: white ;
display: none;
  }
  .humburger:hover {
opacity: 0.6;
  cursor: pointer;
  }
  .bar1, .bar2, .bar3, .bar4 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change_bar1 {
    transform: translate(0, 0) rotate(-45deg);
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change_bar2 {opacity: 0;}
  
  .change_bar3 {
    transform: translate(0, -11px) rotate(45deg);
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change_bar4 {
    transform: translate(0, -11px) rotate(45deg);
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

@media (max-width: 780px) {
    .humburger {
        display: block;
        z-index: 30;
    }


    .nav ul {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 1em;
      align-items: start;
      transition: all 1s ease-out;




    }

 
    .display {
     
        height: 0;
        transition: height 2s;


    }
    .display_block {
    
        display: block;
        height: 30em;

        
        transition: all 2s ease-out;
    


    } 

    .fixed {
        position: fixed;
    }
    .nav li {
       text-align: start;
       line-height: 3;


    }
    .nav {
        display: grid;
        grid-template-rows: auto 1fr;
        align-items: start;


    }
  }